<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>성장 | 전체피드</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <!-- 헤더 / 네비게이션 -->
  <div id="header" class="study"></div>

  <!-- 페이지 내용 -->
  <h1 style="text-align: center;">coming soon..</h1>

<script>
  fetch('/partials/header.html')
    .then(res => res.text())
    .then(html => {
      document.getElementById('header').innerHTML = html;

      // 핵심 한 줄
      const header = document.querySelector('#header header');
      header.className = document.getElementById('header').className;
    });

  // 로그인한 유저 정보 가져오기
  fetch('/api/me')
    .then(res => res.json())
    .then(user => {
      if (user) {
        document.getElementById('userName').innerText =
          user.username + '님';
      }
      // ========관리자 탭==========
      if (user.role === 'admin') {
        const adminTab = document.getElementById('adminTab');
        if (adminTab) adminTab.style.display = 'inline-flex';
      }
    });
</script>

<script>
  document.addEventListener('click', (e) => {
    if (e.target.id === 'logoutBtn') {
      fetch('/logout', { method: 'POST' })
        .then(res => res.text())
        .then(() => {
          window.location.href = '/login.html';
        });
    }
  });
</script>

</body>
</html>

